<div class="org-cards">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/img/organisations/hadith.png"></div>
        <div class="card_content">
          <h2 class="card_title">Open Hadith</h2>
          <p class="card_text">To converge traditional Hadith researchs with machine learning</p>
          <a class="btn card_btn" href="https://openhadith.org" target="openhadith">Visit Site</a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/img/organisations/data.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Data</h2>
          <p class="card_text">Making Kurdish focused data available for machine learning</p>
          <a class="btn card_btn" href="https://data.krd" target="data.krd">Visit Site</a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/img/organisations/kailab.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">KAILAB</h2>
          <p class="card_text">A space for collaburation betweeen AI and data mining researchers</p>
          <a class="btn card_btn" href="http://kailab.org/" target="kailab">Visit Site</a>
        </div>
      </div>
    </li>
  </ul>
</div>