---
layout: page
title: Lectures
background: '/img/lecture/background.jpg'
permalink: /academy/lectures/
---

{% for item in site.lectures reversed  %}
<article class="post-preview">
  <a href="{{ item.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ item.title }}</h2>
    {% if item.subtitle %}
    <h3 class="post-subtitle">{{ item.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ item.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">
    Lectured at {{ item.university }} &middot; For the year {{ item.year }} 
  </p>
</article> 

<hr>

{% endfor %}