---
layout: page
title: Papers
background: '/img/bg-index.jpg'
---

{% for paper in site.papers %}

<article class="paper-preview">
  <a href="{{ paper.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="paper-title">{{ paper.title }}</h2>
    {% if paper.subtitle %}
    <h3 class="paper-subtitle">{{ paper.subtitle }}</h3>
    {% else %}
    <h3 class="paper-subtitle">{{ paper.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="paper-meta">
    Completed at {{ paper.date | date: '%B %d, %Y' }}
  </p>
</article>

<hr>

{% endfor %}
