---
layout: page
title: Publications
background: '/img/bg-index.jpg'
permalink: /academy/publications/

---

{% for publication in site.publications %}

<article class="publication-preview">
  <a href="{{ publication.url | prepend: site.baseurl | replace: '//', '/' }}">

    <h2 class="publication-title">
      {{ publication.title }}

      </span>
    </h2>
    {% if publication.authors %}
    <h3 class="publication-subtitle">{{ publication.authors }}</h3>
    {% endif %}
  </a>
  <p class="publication-meta">
    Type: {{ publication.type }}
  </p>
</article>

<hr>

{% endfor %}
