---
layout: page
title: Teaching Experiences
background: '/img/bg-index.jpg'
---

{% for teachingExperience in site.teachingExperiences %}

<article class="teachingExperience-preview">
  <a href="{{ teachingExperience.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="teachingExperience-title">{{ teachingExperience.title }}</h2>
    {% if teachingExperience.subtitle %}
    <h3 class="teachingExperience-subtitle">{{ teachingExperience.subtitle }}</h3>
    {% else %}
    <h3 class="teachingExperience-subtitle">{{ teachingExperience.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="teachingExperience-meta">
    Completed at {{ teachingExperience.date | date: '%B %d, %Y' }}
  </p>
</article>

<hr>

{% endfor %}
