---
layout: page
title: Educations
background: '/img/post.jpg'
---

{% for item in site.educations reversed  %}
<article class="post-preview">
  <a href="{{ item.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ item.title }}</h2>
    {% if item.subtitle %}
    <h3 class="post-subtitle">{{ item.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ item.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">
    Published on {{ item.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=item.content %}
  </p>
</article> 

<hr>

{% endfor %}