// ==========================================================================
// Site footer.
// ==========================================================================

.site-footer {
  background-color: $ink-800;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;

  hr {
    border-top-color: #bbb;
    opacity: 0.5;

    &.small {
      margin: 20px 0;
    }
  }

  h6 {
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }

  a {
    color: #737373;

    &:hover {
      color: $accent;
      text-decoration: none;
    }
  }

  .social-icons {
    text-align: right;

    a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: 6px;
      margin-right: 0;
      border-radius: 100%;
      background-color: #33353d;
      transition: all 0.3s ease;
    }
  }

  .fa-stack:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
}

.footer-links {
  padding-left: 0;
  list-style: none;

  li {
    display: block;
  }

  a {
    color: #737373;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  &.inline li {
    display: inline-block;
  }
}

.copyright-text {
  margin: 0;
}

@media (max-width: $bp-lg) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: $bp-md) {
  .site-footer {
    padding-bottom: 0;

    .copyright-text,
    .social-icons {
      text-align: center;
    }
  }
}
