---
layout: default
---

<div class="hero {% if page.background %}has-image{% else %}has-art{% endif %}"
     style="--hero-image: url('{{ page.background | default: '/img/heroes/awards.svg' }}')">
  <div class="container">
    <div class="hero-content">
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
      <p class="subtitle">{{ page.subtitle }}</p>
      {% endif %}
      <div class="hero-meta">
        {% if page.date %}
        <div class="meta-item">
          <i class="fas fa-calendar"></i> {{ page.date | date: '%B %d, %Y' }}
        </div>
        {% endif %}
        {% if page.organization %}
        <div class="meta-item">
          <i class="fas fa-award"></i> {{ page.organization }}
        </div>
        {% endif %}
        {% if page.category %}
        <div class="meta-item">
          <i class="fas fa-trophy"></i> {{ page.category | capitalize }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="entry-content">
  <div class="container">
    {{ content }}

    {% include author-credit.html %}
  </div>
</div>

{% include entry-navigation.html back_url="/academy/awards/" back_label="All Awards" back_icon="fa-trophy" %}
