---
layout: default
---
<style>
  .name {
      font-size: 4em;
      width: 100%;
      justify-content: center;
      align-items: center;

      font-weight: 600;
      display: flex;
  }
  @media (max-width: 768px) {
    .name {
      font-size: 3em; /* Adjust the size as needed */
    }
  }
  .name span {
    display: inline-block;
    animation: colorChange 5s infinite;
    transition: color 0.6s ease;
}
.name:hover .pulse {
    animation: colorChange 5s infinite;
}
@keyframes colorChange {
    0%, 100% {
        color: #000;
    }
    50% {
        color: #777;
    }
}
  .name span:nth-child(1) { animation-delay: 0s; }
  .name span:nth-child(2) { animation-delay: 0.1s; }
  .name span:nth-child(3) { animation-delay: 0.2s; }
  .name span:nth-child(4) { animation-delay: 0.3s; }
  .name span:nth-child(5) { animation-delay: 0.4s; }
  .name span:nth-child(6) { animation-delay: 0.5s; }
  .name span:nth-child(7) { animation-delay: 0.6s; }
  .name span:nth-child(8) { animation-delay: 0.7s; }
  .name span:nth-child(9) { animation-delay: 0.8s; }
  .name span:nth-child(10) { animation-delay: 0.9s; }
  .name span:nth-child(11) { animation-delay: 1s; }
</style>


    <div class="container">

      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          

          <div class="page-heading" style="text-align: center;margin-top: 130px;">
            <img src="{{"/img/polla-circular.png" | relative_url }}"/ width="130px">
            <div class="name" id="name">
              <span class="pulse">P</span>
              <span class="pulse">o</span>
              <span class="pulse">l</span>
              <span class="pulse">l</span>
              <span class="pulse">a</span>
              <span class="pulse">&nbsp;</span>
              <span class="pulse">F</span>
              <span class="pulse">a</span>
              <span class="pulse">t</span>
              <span class="pulse">t</span>
              <span class="pulse">a</span>
              <span class="pulse">h</span>
          </div>

          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        <h2 class="section-heading" style="text-align: center;">Recent Posts</h2>
        <link rel="stylesheet" type="text/css" href="/assets/post-card.css" />

        {% for post in site.posts limit : 3 %}

        <div class="blog-card {% cycle '', 'alt' %}">
          <div class="meta">
            <div class="photo" style="background-image: url({{post.background}})"></div>
 
          </div>
          <div class="description">
            <h1>{{ post.title }}</h1>
            <h2>
              {% if post.subtitle %}
                {{ post.subtitle }}
              {% endif %}
            </h2>
            <p> {{ post.excerpt }}</p>
            <p class="read-more">
              <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}#">Read&nbsp;More</a>
            </p>
          </div>
        </div>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-bg float-right" href="{{"/posts" | relative_url }}">View All Posts 🡺</a>
        </div>

      </div>
    </div>

  </div>
