---
layout: default
---

<!-- Page Header -->
    <div class="container" style="margin-top: 170px;">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading" style="margin: 0px ; color: black; font-size: 20px">
            <h1 style="font-size: 60px">{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" style="margin: 30px 0px 0px 0px ;">

        {{ content }}

      </div>
    </div>
  </div>
